/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html, #search {
    background: linear-gradient(to bottom right, #006666, #669999, #40bf80, #40bf80, #f2ffe6) fixed;
}

article {
  border-radius: 20px;
  background-color:#EEE;
}

img {
  width: 100%;
  max-width: 100%;
  max-height: 65vh;
  margin: auto;
  border-radius: 20px;
}

header h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 32px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
  font-weight: bold;
}

section, header {
  background-color: #EEE;
  border-radius: 20px;
}

section h1 {
  font-family: 'Poppins';
  font-weight: bold;
  margin: 0px 0px 10px 25px;
  font-size: 18px;
  padding-top: 20px;
}

section p,
section ul {
  font-family: 'Poppins';
  color: #404040;
  font-weight: lighter;
  font-size: 14px;
  line-height: 28px;
  margin-left: 40px;
  margin-right: 25px;
  padding-bottom: 32px;
}

nav,
footer {
  background-color: #333;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

footer {
  padding: 1% 0;
  color: white;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav a {
  font-family: 'Poppins';
	display: inline-block;
	color: white;
	text-align: center;
	padding: 5% 0;
	text-decoration: none;
}

nav a:hover {
	background-color: #000;
  border-radius: 20px;
}

#load {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style-type: disc;
}

#search {
  font-size: 14px;
  line-height: 28px;
  border-radius: 20px;
  margin: 10px 40px 25px 40px;
  padding: 0 25px;
}


/* TESTING */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.popup {
  margin: 50% 10%;
  padding: 20px;
  width: 70%;
  position: relative;
}

.popup .close {
  position: absolute;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}


/* TESTING */


@media screen and (min-width: 555px) {
  main {
    margin: 0 50px;
    padding: 50px 0px;
  }

  article {
    display: grid;
    width:83vw;
    grid-template-areas:
    'nav nav'
    'header container'
    'footer footer';
  }

  nav,
  footer {
    width: 95%;
  }

  nav {
    grid-area: nav;
  }

  footer {
    grid-area: footer;
  }

  nav a {
    padding: 3% 0;
  }

  #content {
    grid-area: container;
  }

  header {
    grid-area: header;
  }

  header, img {
    width: 25vw;
  }

  header h1 {
    font-size: 34px;
  }

  section h1 {
    font-size: 20px;
  }

  section p,
  section ul,
  nav,
  footer,
  #search {
    font-size: 16px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1080px) {
  main {
    width: 83vw;
    margin: 0 auto;
  }

  nav,
  footer {
    width: 100%;
  }

  header h1 {
    font-size: 44px;
  }

  section h1 {
    font-size: 24px;
  }

  section p,
  section ul,
  nav,
  footer,
  #search {
    font-size: 18px;
    line-height: 36px;
  }
}
